<html>
    <head>
        <% include ../parts/head %>
        <style>
        .jumbotron{
            
        }
        .tablePadding{
            padding:1%;
        }
        </style>
    </head>
    <body>
        <header>
            <% include ../parts/header %>
        </header>
        <section>
            <div class="jumbotron" >
                <div style="width:30%; margin:auto;">
                    <form method="post" acction="/login">
                        <table>
                            <tr >
                                <td>Login:</td>
                                <td class="tablePadding"><input type="text" class="form-control" name="username"></td>
                            </tr>
                            <tr>
                                <td>E-mail:</td>
                                <td class="tablePadding"><input type="text" class="form-control" name="email"></td>
                            </tr>
                            <tr>
                                <td> Password: </td>
                                <td class="tablePadding"> <input type="password"class="form-control" name="pswd"> </td>
                            </tr>
                            <tr>
                                <td> Re-Password: </td>
                                <td class="tablePadding"> <input type="password"class="form-control" name="repswd"> </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="tablePadding" style="float:right; margin:1%;"> <input type="submit" value="Register">  </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </section>
        
    </body>
</html>